Attribute | Type | Description
--------- | ---- | -----------
<%- attributes.sort_by { |name, attribute| name }.each do |name, attribute| -%>
<%= name %> <%= "<span class='read_only'>Read only</span>" if attribute.read_only %> | `<%= attribute["type"] %>` | <%= attribute["description"].presence || "&mdash;" %>
<%- end -%>
