<div class="removed-in-version">
  <p>The following attributes have been removed in this version:</p>
  <ul>
    <% attributes.each do |attribute| %>
      <li>
        <%= attribute %>
      </li>
    <% end %>
  </ul>
</div>
