---
title: Tito API Docs

layout: "full_width"

includes:

search: false
---

# Welcome

## API

The Tito API is divided into the following components:

The **<a href='/docs/api/admin/'>Admin API</a>** is the API that powers our admin dashboard.

<!-- The **<a href='/docs/api/checkout/'>Checkout API</a> (coming 2021)** is what powers our event registration, via our widget. -->

The **<a href='/docs/api/checkin/'>Check-in API</a>** powers our mobile and web-based check-in apps.

<!-- Using any combination of the three APIs, you can leverage and build on the entire feature-set of Tito in your own apps. -->

## Widget

The **<a href='/docs/api/widget/'>Widget</a>** allows you to embed Tito into your own website.
